/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  height: 100vh;
  overflow-x: hidden;
}

/* Menu button (top-right corner) */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
  background: linear-gradient(45deg, #7a33ff, #3a00b5);;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  z-index: 1001;
  transition: background 0.3s ease;
}
.menu-btn:hover {
  background: 2px solid #3498db;
}

/* Sidebar (hidden by default) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* hidden */
  width: 250px;
  height: 100%;
  background: linear-gradient(45deg, #7a33ff, #3a00b5);;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: left 0.3s ease;
  z-index: 1002;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px 0;
  font-size: 18px;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #3498db;
  padding-left: 10px;
}

/* Overlay (dark background when menu opens) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
}

/* Active states */
.sidebar.active {
  left: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
.button {
  background: linear-gradient(45deg, #7a33ff, #3a00b5);
  color: #fff;
  font-weight: bold;
  padding: 0.9em 0.1em;
  margin: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 0 15px rgba(122, 51, 255, 0.6);
  text-transform: uppercase;
  font-size: 1em;
}

.button:hover {
  background: linear-gradient(45deg, #a36fff, #3a00b5);
  box-shadow: 0 0 25px rgba(122, 51, 255, 1);
  transform: scale(1.05);
}
